body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #f5f5f5;
}
html,
body {
    height: 100%;
}
#wrap {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
}
/* HEADER */

header {
    height: 3em;
    padding: 0 2%;
    line-height: 3em;
    background: #fff;
    border-bottom: 0.063em solid #d8d8d8;
    z-index: 10;
}
/* Header menu icon */

#navhamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    color: #eaa205;
    font-size: 2em;
    font-family: 'FontAwesome';
    text-align: center;
}
#menu-toggle {
    display: none;
    /* hide the checkbox */
}
/* Header title */

header #logo {
    float: right;
    width: 100%;
    font-size: 1.2em;
}
header #logo h1 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ASIDE */

.asidewrap {
    width: 15em;
    position: absolute;
    top: 3.063em;
    bottom: 0px;
    background: #fff;
    border-right: 0.063em solid #d8d8d8;
    z-index: 1;
}
.asidewrap aside {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 1em;
    color: #353439;
    font-size: 0.9em;
    text-align: right;
    background: #fff;
    border-right: 0.063em solid #D8D8D8;
}
aside h2 {
    padding: 1em 10%;
    color: #eaa205;
    font-size: 1.3em;
    text-align: left;
}
/* Add post button */

aside .addpost {
    margin: 0 10%;
    margin-bottom: 1em;
    text-align: center;
}
aside .addpost a {
    display: block;
    padding: 0.5em 0;
    color: #eaa205;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3em;
    border: 0.13em solid #eaa205;
}
aside .addpost a:hover {
    color: #fff;
    background-color: #eaa205;
}
aside .addpost .fa {
    margin-right: 0.3em;
    font-size: 1.2em;
}
aside .addpost span {
    display: inline-block;
    vertical-align: top;
}
/* Menu's lists */

aside li a {
    display: block;
    padding: 0.5em 1.7em;
    padding-right: 1.4em;
    text-align: left;
    text-decoration: none;
    color: #353439;
}
aside li a:hover {
    color: #fff;
    background-color: #eaa205;
}
aside li a.actived {
    border-right: 0.3em solid #eaa205;
}
/* Aside Nav */

aside nav li .fa {
    width: 1.250em;
    margin-right: 0.5em;
    color: #8d8d8d;
    font-size: 1.5em;
}
aside nav li span {
    display: inline-block;
    width: calc(100% - 3em);
    vertical-align: top;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
aside nav li a:hover {
    color: #fff;
    background-color: #eaa205;
}
aside nav li a:hover .fa {
    color: #fff;
}
/* Aside cat */

aside #cat {
    text-align: left;
}
aside #cat a {
    display: block;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* SECTION */

section {
    margin-left: 15em;
    padding-bottom: 2em;
}
.content {
    width: 95%;
    max-width: 60em;
    margin: auto;
}
.content article {
    margin-bottom: 2em;
}
/* Feed head */

.feedhead h2 {
    float: left;
    width: calc(100% - 2em);
    color: #eaa205;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 1em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.feedhead h2 .fa {
    margin-right: 0.25em;
    font-size: 0.9em;
}
.feedhead #reload {
    float: right;
    width: 1.5em;
    margin: 1em 0;
    text-align: right;
    font-size: 1.5em;
    font-family: 'FontAwesome';
}
.feedhead #reload a {
    display: inline-block;
    color: #eaa205;
    text-decoration: none;
}
.feedhead #reload a:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
/* Add a new post */

#newpost {
    width: 100%;
    color: #6c6760;
    background: #fff;
    border: 0.063em solid #d8d8d8;
    box-shadow: 0px 1px 1px 0px #e9e9e9;
    overflow: hidden;
}
#newpost label {
    display: block;
}
#newpost .fa {
    font-size: 1.5em;
    color: #eaa205;
}
#newpost table {
    width: calc(100% - 2em);
    vertical-align: top;
    margin-left: 1em;
}
#newpost td {
    vertical-align: middle;
}
#newpost textarea {
    width: calc(100% - 2em) !important;
    padding: 0.5em 1em;
    min-height: 10em;
    line-height: 1.5em;
    font-family: 'Open Sans', Arial, sans-serif;
    border: none;
    background: #fff;
    border-bottom: 0.063em solid #d8d8d8;
}
#newpost .fa {
    margin-right: 0.5em;
    font-size: 0.9em;
}
#newpost td.send {
    height: 100%;
    padding: 0.5em 0;
}
#newpost td.send div {
    float: right;
}
#newpost td.send button {} #newpost select {
    display: inline;
    margin: inherit;
    padding: 0.5em 1em;
    color: #606060;
    background: #f7f7f7;
    border: 0.063em solid #CCC;
    border-radius: 0.3em;
}
#newpost select:hover {
    background: #e5e5e5;
    cursor: pointer;
}
#newpost label,
#newpost select {
    margin: 0.5em 0.5em 0.5em 0px;
}
#newpost label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Feed */

.post {
    width: calc(100% - 7.5em);
    margin-left: 7.5em;
    color: #6c6760;
    background: #fff;
    border: 0.063em solid #d8d8d8;
    box-shadow: 0px 1px 1px 0px #e9e9e9;
    overflow: hidden;
}
/* Post head */

.post .posthead .avatar {
    position: absolute;
    width: 4em;
    margin-left: -5em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.post .avatar img {
    width: 4em;
    height: 4em;
    background: #fff;
    border-radius: 6em;
}
.post .posthead {
    margin-bottom: 1em;
    line-height: 1.2em;
    border-bottom: 0.063em solid #d8d8d8;
}
.post .posthead .infos {
    padding: 0.5em 1em;
}
.post .posthead .name a {
    color: #eaa205;
    font-weight: bold;
    text-decoration: none;
}
.post .posthead .datecat {
    color: #8d8d8d;
    font-size: 0.95em;
}
.post .posthead .datecat a {
    color: #8d8d8d;
}
.post .posthead a:hover {
    text-decoration: underline;
}
.post::before {
    position: absolute;
    content: '';
    width: 0.5em;
    margin-top: 1.5em;
    margin-left: -0.5em;
    text-align: right;
    font-size: 1.5em;
    color: #d8d8d8;
    font-family: 'FontAwesome';
}
/* Post content */

.posttext {
    padding: 0 1em 1em;
    line-height: 1.4em;
}
.postimage {
    text-align: center;
}
.postimage img {
    max-width: 100%;
    max-height: 50em;
}
/* Post footer */

.postfooter {
    padding: 1em;
}
.postfooter ul {
    display: inline-block;
    float: right;
    border: 0.063em solid #8d8d8d;
    border-radius: 5em;
    overflow: hidden;
}
.postfooter ul:hover {
    border-color: #eaa205;
}
.postfooter li {
    float: left;
    border-right: 0.063em solid #6c6760;
}
.postfooter li:hover {
    background: #eaa205;
}
.postfooter li:first-child {} .postfooter li:last-child {
    border-right: none;
}
.postfooter ul:hover li {
    border-color: #eaa205;
}
.postfooter a {
    display: inline-block;
    padding: 0.3em 0.7em;
    color: #8d8d8d;
    font-size: 0.85em;
    text-decoration: none;
}
.postfooter a:hover {
    color: #fff;
    background: #eaa205;
}
.postfooter a .fa {
    margin-right: 0.5em;
}
.postfooter a.actived {
    color: #eaa205;
}
.postfooter .popvalidation a {
    display: block;
    margin-top: 1em;
    padding: 1em;
    color: #fff;
    text-align: center;
    background: rgba(199, 42, 42, 1);
    border-radius: 0.2em;
}
.postfooter .popvalidation a:hover {
    background: rgba(199, 42, 42, 0.95);
}
/* Comments */

.comments {
    width: calc(100% - 2em);
    margin-top: 1em;
    padding-left: 1em;
    color: #6c6760;
}
/* Add a comment */

.comments .addcomment {
    margin-bottom: 1em;
    color: #6c6760;
    text-align: right;
    background: #fff;
    border: 0.063em solid #d8d8d8;
    box-shadow: 0px 1px 1px 0px #e9e9e9;
}
.comments .addcomment textarea {
    width: calc(96% - 0.128em) !important;
    padding: 2%;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 0.063em solid #d8d8d8;
    border-radius: 0;
}
.comments .addcomment button{
    margin: 0.3em;
    padding: 0.3em 0.75em;
}
.comments .addcomment button .fa {
    margin-right: 0.5em;
    color: #eaa205;
}
/* comments list */

.comments li {
    margin-bottom: 1.5em;
}
.comments .avatar {
    display: table-cell;
    width: 4em;
}
.comments .avatar img {
    width: 3em;
    height: 3em;
    border-radius: 0.2em;
}
.comments .avatar img:hover {
    opacity: 0.9;
    background: #fff;
}
.comments .commentright {
    display: table-cell;
    width: 100%;
    margin-left: 1em;
    text-align: left;
    vertical-align: top;
    font-size: 0.9em;
}
.comments .commentinfos {
    margin-bottom: 0.25em;
}
.comments .commentinfos a {
    display: inline-block;
    margin-right: 0.3em;
    color: #eaa205;
    font-weight: bold;
    text-decoration: none;
}
.comments .commentinfos a:hover {
    text-decoration: underline;
}
.comments .commentinfos span {
    font-size: 0.85em;
    font-style: italic;
}
.comments .commentcontent {
    padding: 0.755em;
    font-size: 0.95em;
    line-height: 1.25em;
    background: #e8e8e8;
    border-radius: 0.3em;

/*    border: 0.063em solid #d8d8d8;
    box-shadow: 0px 1px 1px 0px #e9e9e9; */
}
.comments .loadmore a {
    display: block;
    padding: 0.5em 1em;
    color: #666;
    text-align: center;
    text-decoration: none;
    background: #c4c4c4;
    border-radius: 0.2em;
}
.comments .loadmore a:hover {
    color: #fff;
    background: #eaa205;
}
/* Pagination */

#pagination {
    text-align: center;
}
#pagination ul {
    display: inline-block;
    margin: 0.5em auto;
    color: #696666;
    font-size: 1em;
    background: none;
    border: 0.063em solid #eaa205;
    border-radius: 1.5em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
}
#pagination li {
    display: inline;
    float: left;
    border-right: 0.063em solid #eaa205;
}
#pagination li:last-child {
    border-right: none;
}
#pagination a {
    display: inline-block;
    padding: 0.3em 1.5em;
    text-decoration: none;
    color: #6c6760;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#pagination a:hover {
    color: #fff;
    background: #eaa205;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* PAGES */

section #pagehead {
    text-align: center;
    padding: 1.5em 10%;
}
section #pagehead .avatar img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
}
section #pagehead h2 {
    font-size: 1.8em;
    color: #eaa205;
}
section .pagecontent {
    padding: 0 2em;
    color: #6c6760;
    background: #fff;
    border: 0.063em solid #d8d8d8;
    box-shadow: 0px 1px 1px 0px #e9e9e9;
}
section .pagecontent .title {
    margin: 1em 0;
}
section .pagecontent .title h3 {
    display: inline-block;
    font-size: 1.4em;
    color: #eaa205;
}
section .content .title .label {
    display: inline-block;
    color: #6c6760;
}
section .pagecontent p {
    padding: 2.5em 0;
    text-align: center;
}
section .pagecontent hr {
    width: 30%;
    height: 0em;
    margin: 0 auto;
    margin-top: 2em;
    background: none;
    border: 0.063em solid #d8d8d8;
}
/* Settings page */

section .contentform label {
    display: block;
    margin: 0.25em 0px;
    color: #8d8d8d;
}
section .contentform {
    padding: 2.5% 5% 5%;
}
/* Avatar upload*/

section .contentform .avatarup {
    display: block;
}
section .contentform .avatarup .preview {
    display: inline-block;
    min-width: 5em;
}
section .contentform .avatarup .preview img {
    width: 5em;
    height: 5em;
    margin: 0 1em 0.5em 0;
    border-radius: 100%;
}
/* Input text */

section .contentform label {
    display: block;
    margin: 0.5em 0;
    color: #6c6760;
}
section .contentform input {
    color: #6c6760;
}
section .contentform input::-webkit-input-placeholder {
    color: #606060;
}
section .contentform input::-moz-placeholder {
    color: #606060;
}
section .contentform input:-ms-input-placeholder {
    color: #606060;
}
section .contentform input[type="text"],
section .contentform input[type="email"],
section .contentform input[type="password"] {
    display: inline-block;
    width: 98%;
    margin-bottom: 0.5em;
    padding: 0.5em 1%;
    font-size: 1em;
    font-weight: normal;
    font-family: "Open Sans";
    background: #f7f7f7;
    border: 0.063em solid #CCC;
    border-radius: 0.3em;
}
section .contentform select {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em 1%;
    font-size: 1em;
    font-weight: normal;
    font-family: "Open Sans";
    background: #f7f7f7;
    border: 0.063em solid #CCC;
    border-radius: 0.3em;
}
section .contentform .upload {
    line-height: 5em;
}
section .contentform input[type="submit"] {
    display: block;
    margin: 0.5em auto;
    padding: 0.3em 1.5em;
    color: #696666;
    font-size: 1.2em;
    background: none;
    border: 0.15em solid #eaa205;
    border-radius: 1.5em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
section .contentform input[type="submit"]:hover {
    color: #fff;
    background: #eaa205;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* SIGN UP PAGE */

section#signpage .content {
    max-width: 25em;
}
section#signpage .contentform {
    padding-top: 1.5em;
}
section#signpage .contentform input[type="text"],
section#signpage .contentform input[type="email"],
section#signpage .contentform input[type="password"] {
    display: inline-block;
    width: 95%;
    margin-bottom: 0.5em;
    padding: 0.5em 2.5%;
    font-size: 1em;
    font-weight: normal;
    font-family: "Open Sans";
    background: #f7f7f7;
    border: 0.063em solid #CCC;
    border-radius: 0.3em;
}
section .signfooter {
    color: #606060;
    font-size: 0.9em;
}
section .signfooter p {
    margin-bottom: 0.5em;
}
section .signfooter a {
    color: #606060;
    text-decoration: underline;
}
/* COMMON */

.clearfloat {
    clear: both;
}
input,
textarea {
    font-family: 'Open Sans', Arial, sans-serif;
}
.loglink {
    display: block;
    margin-bottom: 2.5em;
    text-align: center;
}
.loglink a {
    display: inline-block;
    margin: 0.5em auto;
    padding: 0.3em 1.5em;
    color: #696666;
    font-size: 1.2em;
    background: none;
    text-decoration: none;
    border: 0.15em solid #eaa205;
    border-radius: 1.5em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.loglink a:hover {
    color: #fff;
    background: #eaa205;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Tooltip */

.m-info,
.m-error {
    text-align: center;
}
.m-info span,
.m-error span {
    display: inline-block;
    margin: 0.4em auto 1em;
    padding: 0.3em 1.6em;
    font-size: 0.8em;
    border: 0.2em solid;
    border-radius: 1.5em;
}
.m-info {
    color: #3a87ad;
}
.m-error {
    color: #b94a48;
}
/* Remove border around all elements */

:focus {
    outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
/* Form */

section .upload {
    display: inline-block;
    vertical-align: top;
}
section .upload label,
section button[type="submit"] {
    display: inline;
    margin: inherit;
    padding: 0.5em 1em;
    color: #606060;
    font-size: 1em;
    background: #f7f7f7;
    border: 0.063em solid #CCC;
    border-radius: 0.3em;
}
section .upload label:hover,
section button[type="submit"]:hover {
    background: #e5e5e5;
    cursor: pointer;
}
section .upload input {
    left: -200%;
    position: absolute;
}
/* MEDIAQUERIES */

@media screen and (max-width: 55em) {
    .post .posthead .avatar {
        position: relative;
        display: table-cell;
        width: 2em;
        margin: 0;
        padding: 0.5em;
    }
    .post .avatar img {
        width: 2em;
        height: 2em;
    }
    .post .posthead .infos {
        display: table-cell;
        padding: 1em 1em 1em 0;
        vertical-align: top;
    }
    .post {
        width: 100%;
        margin-left: inherit;
    }
    .post::before {
        display: none;
    }
    .comments {
        /* width: 95%; */
        margin-left: inherit;
    }
    #newpost td.label span {
        display: none;
    }
}
@media screen and (max-width: 44em) {
    header #logo {
        width: calc(100% - 2.3em);
    }
    #navhamburger {
        display: block;
    }
    label #navhamburger {
        cursor: pointer;
    }
    .asidewrap {
        display: none;
    }
    #menu-toggle:checked + .asidewrap {
        display: block;
    }
    section {
        margin-left: 0;
        font-size: 112%;
    }
    section .pagecontent {
        padding: 0;
    }
    section .pagecontent p {
        padding: 2.5em 5%;
    }
    #newpost table {
        margin-left: 0.5em;
    }
}
/* WEBFONTS */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
